
@{
    ViewBag.Title = "Merci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Merci</h1>
        <h2>@Model.Nom @Model.Prenom</h2>
        <p>D'avoir participer à notre enquête, nous vous souhaitons bonne continuation!</p>
        <p><a href="/Home/Index" class="btn btn-info btn-lg" role="button">Ok<span class="glyphicon glyphicon glyphicon-hand-right"></span></a></p>
    </div>
</div>

