body 
{
    background-image:url(/Content/images/Background.jpg);
    background-repeat:no-repeat;
    background-position:top center;
    background-color:#657077;
    margin:40px;
}
body h1 {
	background-color:black;
	opacity:0.75;
    text-align: center;
    color:white;
}
.btn-lg 
{
  border-radius: 25px;
}
